<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title> Add users</title>
</head>

<body id="spl1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Voting</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/acandi">Add Candidate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ausers">Add Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vcandi">View Candidates</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/vusers">View users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calc">Calculation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                </li>
            </ul>

        </div>
    </nav>


    <form action="/ausers" method="post">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 jumbotron">
                    <h4 class="text-center bg-success text-white">Add User</h4>


                    <form action="/ausers" method="post">

                        <div class="mb-3">
                            <label for="uname" class="form-label">User Name</label>
                            <input type="text" class="form-control" id="uname" name="uname">

                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email ID</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="adno" class="form-label">Aadhar no</label>
                            <input type="text" class="form-control" id="adno" name="adno">
                        </div>

                        <div class="mb-3">
                            <label for="eimg" class="form-label">Eye Image</label>
                            <input type="file" class="form-control" id="eimg" name="eimg" accept="image/*">
                        </div>


                        <button type="submit" class="btn btn-success btn-sm btn-block">Add</button>

                    </form>
                    <center>
                        <h3>{{a}}</h3>
                    </center>

                </div>
                <div class="col-md-4"></div>


            </div>

        </div>
    </form>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>